.flex {
    display: flex;
}

.inputSlider{
    background-color: aqua;
    
    /* max-width: fit-content; */
  /*  */
}

.labelSliderMin {
    min-width: 23px;
    font-weight: 600;
}
.containerSlider{
    margin-left: 5px;
    align-items: center;
    position: fixed;
    left: -158px;
    transition: all 0.8s;
    
}
.containerSlider.clicked{
    left: 0;
}
.btnSettings{
    width: 24px;
    height: 24px;
    margin-left: 4px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/484/484613.png');
     background-size: cover;
    cursor: pointer;
}
